@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo/promo';
@import 'blocks/titles/titles';
@import 'blocks/buttons/buttons';
@import 'blocks/before-circle/before-circle';
@import 'blocks/sidebar/sidebar';
@import 'blocks/hamburger/hamburger';
@import 'blocks/menu/menu';
@import 'blocks/about-myself/about-myself';
@import 'blocks/divider/divider';
@import 'blocks/experience/experience';
@import 'blocks/skills/skills';
@import 'blocks/portfolio/portfolio';
@import 'blocks/pricelist/pricelist';
@import 'blocks/connection/connection';
@import 'blocks/media';
@import 'blocks/promo/promo_media';
@import 'blocks/sidebar/sidebar_media';
@import 'blocks/hamburger/hamburger_media';
@import 'blocks/menu/menu_media';
@import 'blocks/about-myself/about-myself_media';
@import 'blocks/experience/experience_media';
@import 'blocks/skills/skills_media';
@import 'blocks/portfolio/portfolio_media';
@import 'blocks/pricelist/pricelist_media';
@import 'blocks/connection/connection_media';
