.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fs16px {
        font-size: 16px;
        line-height: 24px;
    }
    &_fs48px {
        font-size: 48px;
    }
    &_fs14px {
        font-size: 14px;
        line-height: 21px;
    }
    &_fs20px {
        font-size: 20px;
        line-height: 30px;
    }
    &_fs12px {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}