.before-circle {
    position: relative;
    z-index: 1;
    padding-left: 10px;
    @include before-circle;
}
.before-circle_about-me {
    position: relative;
    z-index: 1;
    padding-left: 10px;
    @include before-circle;
}